{% extends 'base.html.twig' %}

{% block title %}SERVICE{% endblock %}

{% form_theme formService 'bootstrap_4_layout.html.twig' %}

{% block body %}
<br>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}

    </div> 
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}

    </div> 
{% endfor %}
   <br>
        <h1 align="center">GESTION DES SERVICES</h1>
        <div class="container ">
                {{form_start(formService)}}
            <div class="row">
                <div class="col-lg-4">

                </div>
                <div class="col-lg-4">
                        {{form_row(formService.libelle, {'attr':{'placeholder':"Nom du Service"}})}}

                </div>
                <div class="col-lg-4"></div>

                <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                            <button type="submit" class="btn btn-success">
                            
                        {% if editMode %}
                            ENREGISTRER LES MODIFICATIONS

                        {% else %}
                            AJOUTER UN SERVICE
                        {% endif %}
        
                            
                            
                            </button>

                    </div>
                    <div class="col-lg-4"></div>

            </div>
                

       
            {{form_end(formService)}}

        </div>
        
        <br>
        <table class="table table-hover">
                <thead >
                  <tr>
                    <th scope="col">ID SERVICE</th>
                    <th scope="col">NOM SERVICE</th>
                      {# <th scope="col">EFFECTIF</th> #}
                    <th scope="col">MODIFIER</th>
                    {# <th scope="col">LISTER</th> #}

                    <th scope="col">SUPPRIMER</th>

                  </tr>
                </thead>
                <tbody>
                 
                {% for service in services %}
                  
                  <tr class="table-secondary">
                    <th scope="row">{{service.id}}</th>
                    <td>{{service.libelle}}</td>
                    {# <td>{{service | length }}</td> #}
                    <td>
                        <button class="btn btn-success">
                            <a href="/service/{{service.id}}/modifservice">MODIFIER</a>
                        </button>
                    </td>
                    {# <td>
                            <button class="btn btn-warning">
                                    <a href="/service/{{service.id}}/lister">LISTER</a>
                                </button>
                    </td> #}
                    <td>
                            <button class="btn btn-danger" onclick="supprimer({{service.id}})">
                                    SUPPRIMER
                                </button>
                    </td>
                  </tr>
                
              {% endfor %}
                  
                </tbody>
              </table> 


{% endblock %}

{% block javascripts %}

<script>
    function supprimer(id){
        if (confirm("Voulez-vous vraiment supprimer ce service ?")){
            document.location.href="/service/"+id+"/supservice";
        }
    }
</script>

{% endblock %}